<nav>

    <ul>
        <li class="logo-img"> <img src="assets/book.png"></li>
        <li class="logo">Book Space</li>


        <li class="btn"><span class="fas fa-bars"></span></li>
        <div class="items">
            <!-- <li><a href="/home">Home</a></li> -->
            <li><a href="/home">Descover Books</a></li>
            <div class="dropdown">
                <li id="my-movies" (click)="goToMyBooks()"><a>My Books</a></li>

                <!-- <div class="dropdown-content">

                    <p class="dropdown-item">Read </p>
                    <p class="dropdown-item">To be read </p>

                </div> -->


            </div>

            <!-- <li><a>Profile</a></li>
            <li><a>Users</a></li> -->

        </div>


    </ul>
</nav>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous ">


<div class="row">

    <div class="col-md-2" *>

        <div class="card shadow" id="card-popular">
            <div class="inner">
                <img src="assets/user.png" class="card-img-top " alt="... ">
            </div>
            <div class="card-body ">
                <h5 class="card-title ">Lpul de stepa</h5>
                <p class="card-text ">15.83.ds</p>
                <p class="card-text ">Herman Hesse</p>
            </div>

        </div>
    </div>

</div> -->


<div class="container-fluid">





    <!-- hardcodat-->

    <!-- <div class="row-md-4" id="row-md-4-search">
        <div class="card shadow " id="card-search">
            <div class="inner-search">
                <img src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_Ratio0.6751_AL_.jpg" class="card-img-top " alt="... ">
            </div>
            <div class="card-body" id="card-body-search" style="text-align:left">
                <h5 class="card-title ">The dark Knight</h5>
                <p class="card-text ">2022</p>
            </div>
        </div>
    </div> -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous ">


    <div class="row">

        <!-- <div class="col-md-2">

            <div class="card shadow" id="card-popular">
                <div class="inner">
                    <img src="assets/sapiens.png" class="card-img-top " alt="... ">
                </div>
                <div class="card-body ">
                    <h5 class="card-title ">Sapiens</h5>
                    <p class="card-text ">Yuval Noah Harari</p>
                    <p class="card-text ">2011</p>
                </div>

            </div>
        </div> -->

        <div *ngFor="let  book of books " class="col-md-2" (click)="goToBook(book)">

            <div class="card shadow" id="card-popular">
                <div class="inner">
                    <img *ngIf="book.cover" [src]="book.cover" class="card-img-top " alt="Book Cover">
                    <img *ngIf="!book.cover" src="assets/dune.png" class="card-img-top " alt="Default Cover">
                </div>
                <div class="card-body ">
                    <h5 class="card-title ">{{book.title}}</h5>
                    <p class="card-text ">{{book.author}}</p>
                    <p class="card-text ">{{book.date}}</p>
                </div>

            </div>
        </div>

    </div>




</div>